<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8" />
   <title>Quản lý khách đên chơi</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
   <div align="center">
      <h1>Quản lý khách đến chơi: </h1>
      <h3>Sinh viên: </h3>
      <h3 th:text="${session.sinhvien.getTen()}"></h3>
       <Form method="GET" name="searchClient" th:action="@{/quanlykhach/tim-khach}">
         <input name="txtSearchClient" type="text" style="width: 200">
         <input name="subSearchClient" type="submit" class="btn btn-success" value="Tìm kiếm">
      </Form>
      <a th:href="@{/quanlykhach/them}"><Button>Thêm</Button></a>
      <div class=”col-sm-6″>
         <table border="1px" cellpadding="5">
            <tr>
               <th>Số CMT</th>
               <th>Họ tên</th>
               <th>Ngày sinh</th>
               <th>Ngày đến</th>
            </tr>
 			<tr th:each="khach : ${khachs}">
               <td th:text="${khach.soCMT}"></td>
               <td th:text="${khach.ten}"></td>
               <td type="date" th:text="${khach.ngaysinh}"></td>
               <td type="date" th:text="${khach.ngayden}"></td>
              <td> <a th:value="${khach.id}" th:href="@{'/quanlykhach/sua/' + ${khach.id}}">Sửa</a> 
              <a th:value="${khach.id}" th:href="@{'/quanlykhach/xoa/' + ${khach.id}}">Xoá</a></td>
            </tr>
         </table>
         <a th:href="@{'/quanlykhach'}">Huỷ</a>
      </div>

      
   </div>
</body>

</html>